#DATABASE
DATABASE_USER=##########
DATABASE_PASSWORD=##########
DB_NAME_ACCOUNT=##########
DB_NAME_PLAYER=##########
DB_PORT=##########
DB_HOST=##########
#Mailer
MAILER_HOST=##########
MAILER_PORT=##########
MAILER_USER=##########
MAILER_PASSWORD=##########
#Secret_Key
SECRET_KEY=##########
PORT=##########
#TOKENS
TOKEN=##########
BASE_FRONT_URL=##########